:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
  }

* {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.header {
    
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 64px;
    align-items: center;
    padding-bottom: 90px;
}

.header ul{
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-size: 1.125rem;

}

.header ul li {
    padding-right:20px;
    padding-left: 3px;
    margin-left: 20px;
}

.header ul li:first-child {
    border-left: #4fff4b 2px solid;
}


.header input {
    width: 260px;
    height: 40px;
    background-color: var(--dark-bg);
    border: none;
    border-radius: 3px;
    color: var(--light-purple);
}

input::placeholder {
    padding-left: 20px;
    color: var(--light-purple);
}

.header input:read-write {
    padding-left: 10px;

}


.input {
    display: flex;
}

.input img {
    padding: 6px 15px;
    background-color: var(--button-bg);
    border-radius: 0 3px 3px 0;
}

main {
    background-color: var(--purple-bg);
    border-bottom: #4fff4b 5px solid;
}

body {
    background-color: #FBF6FF;
}



.section1 {
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-img img {
    width: 730px;
    padding-bottom: 60px;
}

.div-section1 h2 {
    font-size: 2.6rem;
    font-family: "Poppins";
    font-weight: 700;
    color: var(--button-bg);
}

.div-section1 {
    width: 580px;
}

.div-section1 p {
    color: var(--light-purple);
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.7rem;
    padding-top: 18px;
    width: 550px;

}

.div-section1 span {
    color: var(--button-bg);
    font-weight: bold;
    font-size: 1rem;
    font-family: "Roboto";
}

.veja-mais {
    padding-top: 30px;
    display: flex;
    padding-bottom: 104px;
}

.section2 {
    max-width: 75%;
    margin: 75px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: normal;

}

.section2 p, .section3 p {
    color: black;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.6rem;
}

.section2 h3 {
    font-size: 24px;
    font-family: "Poppins";
    color: var(--purple-bg);
}

.div-section2 img {
    width: 650px;
    margin-bottom: 12px;
 

}

.div-section2 h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}


.section2 span {
    font-family: "Roboto";
    font-size: 16px;
    display: block;
}

.div-section2 p {
    width: 650px;
}

.div2-section2 {
    width: 580px;
    margin-left: 150px;
}

.div2-section2 span {
    margin-bottom: 10px;
}

.div2-section2 h3 {
    margin-bottom: 15px;
}

.div2-section2 p {
    margin-bottom: 60px;
}



/* SECTION 3 */


.section3 {
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 75px;
    display: flex;
    font-weight: normal;
}

.section3 span {
    font-family: "Roboto";
    font-size: 16px;
    display: block;
    margin-top: 10px;
}

.section3 h3 {
    font-size: 24px;
    font-family: "Poppins";
    color: var(--purple-bg);
    margin-top: 10px;
    margin-bottom: 15px;
}

.section3  img{
    width: 440px;
}

.section3  p{
    width: 90%;
}

img {
    max-width: 100%;
    display: block;
}

@media (max-width: 800px) {
    .section1 {
        flex-direction: column;
        
    }

    .section2 {
        flex-direction: column;
        
    }

    .section3 {
        flex-direction: column;
        
    }
    
}



